#cache-sizes h3 {
  margin-bottom: 25px;
}

#cache-sizes .control-chart {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#cache-sizes .control-chart .chart-legend table tr td.value {
  text-align: right;
}
